.devlog-video {
    position: relative;
    width: 70%;
    aspect-ratio: 16 / 9;
    margin: 1rem 0;
    overflow: hidden;
}

.devlog-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}
